:root {
  --maxWidth: 500px;
  --widgetSpacing: 20px;
  --outerPadding: 20px;
  --bannerSize: 100px;

  --maxContentWidth: calc(var(--maxWidth) - calc(2 * var(--outerPadding)));
  --maxContentHeight: calc(100vw - calc(2 * var(--widgetSpacing)) - calc(2 * var(--outerPadding)));

  --thumbnailSize: min(max(100px, 20vw), calc(var(--maxWidth) / 3));

  --fullCoverSize: min(
    calc(100vh - calc(var(--thumbnailSize) + 4rem + calc(4 * var(--widgetSpacing)) + calc(2 * var(--outerPadding)))),
    min(var(--maxContentHeight), var(--maxContentWidth))
  );
  --initialCoverSize: var(--fullCoverSize);
  --coverSize: var(--initialCoverSize);

  --redColor: #f36c4f;
  --blueColor: #79cdc6;
  --yellowColor: #fede91;
  --whiteColor: #fafafa;

  --backgroundColor: var(--whiteColor);
  --accentBackground: #efefef;
  --textColor: #252525;
  --accentTextColor: #707070;

  --regularTextSize: 14px;
  --regularLineHeight: 22px;

  --labelTextSize: 14px;
  --labelTextLineHeight: 22px;

  --transitionBounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --transitionTime: .5s;
  --transitionCutTime: .4s;
}

@media (max-width: 400px) {
  :root {
    --labelTextSize: 11px;
    --labelTextLineHeight: 14px;
  }
}

/* Variation sizes for wider tablet screen */
@media (min-width: 700px) {
 :root {
   --maxWidth: 700px;
   --initialCoverSize: calc(var(--fullCoverSize) / 1.5);

   --regularTextSize: 18px;
   --regularLineHeight: 28px;
 }
}
/* TODO: Adjust font sizes for larger screens */

/* TODO: Adjust for landscape layout */

.debug-animations {
  --transitionTime: 3s;
  --transitionCutTime: 2.5s;
}
