/** HomeScreen component is the outmost container for the home screen widget */

.HomeScreen {
  box-sizing: border-box;
  height: 100vh;
  padding: var(--outerPadding);
  max-height: 100vh;
  overflow: hidden;
  max-width: var(--maxWidth);
  outline: #c00 1px dashed;
}

.HomeScreen.has-topBanner {
  padding-top: var(--bannerSize);
  --coverSize: calc(var(--initialCoverSize) - var(--bannerSize));
}

.HomeScreen.has-bottomBanner {
  padding-bottom: var(--bannerSize);
  --coverSize: calc(var(--initialCoverSize) - var(--bannerSize));
}

.HomeScreen.has-bottomBanner.has-topBanner {
  --coverSize: calc(var(--initialCoverSize) - calc(2 * var(--bannerSize)));
}
