:root {

  --appPadding: 20px;
  --collapsedArtSize: 33%;



  --fontSizeDefault: 18px;
  --lineHeightDefault: 26px;
  --fontSizeSm: 14px;
  --lineHeightSm: 22px;

  --bffRed: #f36c4f;
}

html, body, h1, dl, dt, dd, p, a {
  margin: 0;
  padding: 0;
}

a:link, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

html, body {
  font: normal normal normal 14px/22px FlamaWeb, system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  color: #252525;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

html {
  max-width: 750px;
  margin: 0 auto;
}

.ShowWidget {
  background: #efefef;
  border-radius: 5px;
  padding: var(--appPadding);
  display: flex;
  gap: max(20px, 5%);
}

.ShowWidget-logo {
  flex-basis: var(--collapsedArtSize);
  flex-shrink: 0;
  flex-grow: 0;
}

.ShowWidget-image {
  object-fit: cover;
  aspect-ratio: 1 / 1;
  width: 100%;
}

.ShowWidget-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 18px;
  line-height: 26px;
  margin-bottom: 15px;
}

.ShowWidget-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f36c4f;
  padding: 0px 0 10px;
}

.ShowWidget-show {
  font-weight: bold;
}

.ShowWidget-host::before {
  content: 'w/ ';
  font-size: 14px;
  line-height: 22px;
  color: #707070;
}

.ShowWidget.is-missing-data .ShowWidget-host {
  display: none;
}

.ShowWidget.is-expanded {
  flex-direction: column;
}

.is-expanded .ShowWidget-info {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.TrackWidget {
  position: relative;
  padding: var(--appPadding);
  display: flex;
  flex-direction: column;
  gap: max(20px, 5%);
}

.TrackWidget-coverArt {
  flex-basis: auto;
  flex-shrink: 10;
  flex-grow: 10;
}

.TrackWidget-image {
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.45);
  width: 100%;
  max-width: 50vh;
  object-fit: cover;
  aspect-ratio: 1 / 1;
  margin: 0 auto;
  display: block;

  border-radius: 4px;
}

.TrackWidget-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.TrackWidget-metadata {
  text-align: center;
}

.TrackWidget-title {
  font-size: 18px;
  line-height: 26px;
}
.TrackWidget-artist {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}
.TrackWidget-album {
  font-size: 18px;
  line-height: 26px;
  font-style: italic;
}

.TrackWidget.is-default-cover {
  flex-direction: row;
  gap: max(20px, 5%);
}

.is-default-cover .TrackWidget-coverArt {
  flex-basis: 20%;
  flex-shrink: 0;
  flex-grow: 0;
}

.is-default-cover .TrackWidget-label {
  left: calc(var(--appPadding) + 10px);
}

.is-default-cover .TrackWidget-metadata {
  text-align: left;
}

/* Wide Devices */
@media (min-width: 600px) {
  .TrackWidget {
    flex-direction: row;
  }

  .TrackWidget-coverArt {
    flex-basis: 50%;
  }

  .TrackWidget-metadata {
    text-align: left;
  }
}

.DebuggingControls {
  position: fixed;
  margin: 20px;
  bottom: 0;
  left: 0;
}
